<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Chat App</title>
  <link rel="stylesheet" href="css/style.css">
   <link rel="stylesheet" href="css/chat.css">
  
</head>
<body>
  <header>
    <h1>Chat App</h1>
  </header>

  <main>
    <div id="allMessages" class="chatContainer">

      <div class="message">
        <div class="imageContainer">
          <img src="https://tse4.mm.bing.net/th?id=OIG4.RI2fmIMOiSz4oAt8yecj&pid=ImgGn"  class="userImage" />
        </div>
        <div class="messageBody">
          <div class="userInfo">
            <span class="username">PEPE</span>
            <span class="onlineTime">1 second ago</span>
          </div>
          <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Autem eveniet quaerat, in explicabo reprehenderit commodi eius vero quam tempora reiciendis illum id porro quis enim quidem, assumenda provident hic laudantium.</p>

        </div>
      </div>
      <div class="message">
        <div class="imageContainer">
          <img src="https://tse4.mm.bing.net/th?id=OIG4.RI2fmIMOiSz4oAt8yecj&pid=ImgGn"  class="userImage" />
        </div>
        <div class="messageBody">
          <div class="userInfo">
            <span class="username">PEPE</span>
            <span class="onlineTime">1 second ago</span>
          </div>
          <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Autem eveniet quaerat, in explicabo reprehenderit commodi eius vero quam tempora reiciendis illum id porro quis enim quidem, assumenda provident hic laudantium.</p>

        </div>
      </div>
      <div class="message">
        <div class="imageContainer">
          <img src="https://tse4.mm.bing.net/th?id=OIG4.RI2fmIMOiSz4oAt8yecj&pid=ImgGn"  class="userImage" />
        </div>
        <div class="messageBody">
          <div class="userInfo">
            <span class="username">PEPE</span>
            <span class="onlineTime">1 second ago</span>
          </div>
          <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Autem eveniet quaerat, in explicabo reprehenderit commodi eius vero quam tempora reiciendis illum id porro quis enim quidem, assumenda provident hic laudantium.</p>

        </div>
      </div>

    </div>

      <div class="sendMessage">
        <input type="text" id="message" placeholder="Type your message here...">
        <button type="button" id="sendMessage" class="btn sendMessageBtn">Send Message</button>
      </div>
    
  </main>
  <script src="/socket.io/socket.io.js"></script>
  <script src="js/script.js"></script>
  <script src="js/chat.js"></script>

</body>
</html>