#allMessages {
	display: flex;
	flex-direction: column;
	padding: 25px 25px;
	background: #fafafa;
	margin: 24px;
	margin-top: 60px;
	border-radius: 20px;
}
.message {
	display: flex;
	margin-top: 10px;
	justify-content: center;
}
.imageContainer {
	width: 50px;
	height: 50px;
	border-radius: 50%;
	overflow: hidden;
	margin-right: 10px;
}
.userImage {
	width: 100%;
	height: 100%;
}
.messageBody {
	width: 100%;
	background-color: #cfd1d4;
	padding: 10px 20px;
	border-radius: 0px 10px 10px 10px;
	overflow: hidden;
}
.messageBody p {
	word-break: break-word; /* This allows text to wrap to the next line */
	overflow-wrap: break-word;
}
.userInfo {
	display: flex;
	align-items: center;
	margin-bottom: 10px;
	flex-wrap: wrap;
	/* background-color: #ffebcd; */
}
.username {
	font-weight: bold;
	margin-right: 5px;
	color: #333;
	font-size: 16px;
	letter-spacing: 1px;
	background-color: #ffebcd;
	padding: 5px 10px;
	border-radius: 4px;
	box-shadow: 0 2px 2px rgba(0, 0, 0, 0.1);
}
.onlineTime {
	font-size: 14px;
	color: #777;
	background-color: #eeeded;
	border-radius: 4px;
	padding: 5px 10px;
}
.sendMessage {
	display: flex;
	align-items: center;
	justify-content: center;

	margin-top: 10px;
	background-color: #fafafa;
	padding: 10px 20px;
	border-radius: 10px;
	width: 100%;
	max-width: 94%;
	margin: auto;
}
#typeMessage {
	width: 100%;
	padding: 10px;
	border: 1px solid #ccc;
	border-radius: 5px;
	min-height: 50px;
	max-height: 150px;
	font-size: 16px;
	letter-spacing: 1px;
	background-color: #fff;
	color: #333;
	outline: none;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}
.btn {
	background-color: #4caf50;
	border: none;
	color: #fff;
	padding: 15px 32px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	margin: 4px 2px;
	cursor: pointer;
	border-radius: 5px;
	/* transition-duration: 0.4s; */
	box-shadow: 0 4px 6px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.sendMessageBtn {
	display: flex;
	align-items: center;
	justify-content: center;
	font-size: 16px;
	text-wrap: nowrap;
}
.sendMessageBtn:hover {
	background-color: #69d06c;
	color: #fafafa;
}

@media screen and (max-width: 600px) {
	.imageContainer {
		width: 30px;
		height: 30px;
	}
	.onlineTime {
		margin-top: 5px;
	}
	.sendMessage {
		width: 70%;
		flex-direction: column;
	}
	.sendMessageBtn {
		width: 140px;
		font-size: 14px;
	}
	.messageBody {
		width: 200px;
	}
}
